## Ignore everything in the root directory
/*

## Whitelist
# README files
!README
!README.*

# ZSH_CUSTOM directory
!/zsh.d

# Git config directory
!/git

# VSCode config
!/Code
/Code/*
!/Code/User
/Code/User/*
!/Code/User/settings.json
