## Ignore everything in the root directory
/*

## Whitelist
# README files
!README
!README.*

# ZSH_CUSTOM directory
!/zsh.d

# Git config directory
!/git

# VSCode config
!/Code - OSS
/Code - OSS/*
!/Code - OSS/User
/Code - OSS/User/*
!/Code - OSS/User/settings.json
