## Ignore everything in the root directory
/*

## Whitelist
# README files
!README
!README.*

# ZDOTDIR
!/zsh

# NPM config (for XDG)
!/npm

# vim config
!/vim

# VSCode config
!/Code
/Code/*
!/Code/User
/Code/User/*
!/Code/User/settings.json
